/* Root = Horizontal, Secondary = Vertical */
ul#menu {
	margin:0;
	border:0;
	padding:0;
	list-style:none;
	height:61px;
	line-height:51px;
	width:858px;
}
ul#menu li {
	margin:0;
	border:0 none;
	padding:0;
	float:left; /*For Gecko*/
	display:inline;
	list-style:none;
	position:relative;
	height:61px;
 	width:107px;
	white-space:nowrap;
}
ul#menu li a.umenuhead{
 text-align:center;
 font-weight:700;
}
ul#menu ul {
	margin:0;
	border:0 none;
	padding:0;
	width:160px;
	list-style:none;
	display:none;
	position:absolute;
	top:51px;
	left:0;
}

ul#menu ul:after /*From IE 7 lack of compliance*/{
	clear:both;
	display:block;
	font:1px/0px serif;
	content:".";
	height:0;
	visibility:hidden;
}

ul#menu ul li {
	width:160px;
	float:left; /*For IE 7 lack of compliance*/
	display:block !important;
	display:inline; /*For IE*/
	height:51px;
	border-bottom:#5EACBA 0px solid;
}

/* Root Menu */
ul#menu a {
	padding:0px 5px 0px 5px;
	float:none !important; /*For Opera*/
	float:left; /*For IE*/
	display:block;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	height:auto !important;
	height:1%; /*For IE*/
	border-right:#5EACBA 1px solid;
}
ul#menu a.close {
	border-right:0;
}
/* Root Menu Hover Persistence */
ul#menu a:hover,
ul#menu li:hover a,
ul#menu li.iehover a {
	background: url("../images/menu_active.png");
	color:#FFF;
}
ul#menu a.selectedMenu {
	background: url("../images/menu_active.png");
	color:#FFFFFF;
}

/* 2nd Menu */
ul#menu li:hover li a,
ul#menu li.iehover li a {
	float:none;
	border:none;
	background:#02769D;
}

/* 2nd Menu Hover Persistence */
ul#menu li:hover li a:hover,
ul#menu li:hover li:hover a,
ul#menu li.iehover li a:hover,
ul#menu li.iehover li.iehover a {
	background: url("../images/menu_active.png") left top;
	color:#DE7B28;
}

/* 3rd Menu */
ul#menu li:hover li:hover li a,
ul#menu li.iehover li.iehover li a {
	background:#42AFDC;
	color:#FFFFFF;
}

/* 3rd Menu Hover Persistence */
ul#menu li:hover li:hover li a:hover,
ul#menu li:hover li:hover li:hover a,
ul#menu li.iehover li.iehover li a:hover,
ul#menu li.iehover li.iehover li.iehover a {
	background:#42AFDC;
	color:#FFFFFF;
}

/* 4th Menu */
ul#menu li:hover li:hover li:hover li a,
ul#menu li.iehover li.iehover li.iehover li a {
	background:#42AFDC;
	color:#FFFFFF;
}

/* 4th Menu Hover */
ul#menu li:hover li:hover li:hover li a:hover,
ul#menu li.iehover li.iehover li.iehover li a:hover {
	background:#42AFDC;
	color:#FFFFFF;
}

ul#menu ul ul,
ul#menu ul ul ul {
	display:none;
	position:absolute;
	top:0;
	left:160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#menu li:hover ul ul,
ul#menu li:hover ul ul ul,
ul#menu li.iehover ul ul,
ul#menu li.iehover ul ul ul {
	display:none;
}

ul#menu li:hover ul,
ul#menu ul li:hover ul,
ul#menu ul ul li:hover ul,
ul#menu li.iehover ul,
ul#menu ul li.iehover ul,
ul#menu ul ul li.iehover ul {
	display:block;
}

/* vertical menu for users menus */
#uvmenu {
	font-size:11px;
	width: 14em;
	border:0;
	background-color: #FFFFFF;
	float:right;
	width:170px;
}
#uvmenu div.TabTitleBar, #uvmenu div.CollapsiblePanelTab, div.RegTitleBar {
	background:url("../images/iHeadum.gif") no-repeat 0 0;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;
	font-weight:700;
	height:22px;
	cursor:pointer;
	color:#333333;
	text-align:center;
}
div.RegTitleBar {
	background:url("../images/iHeadAcc.gif") no-repeat 0 0;
}

#uvmenu ul {
	margin: 0;
	padding: 0;
	border: none;
	list-style-type:none;
}
#uvmenu li {
	border-bottom: 1px solid #D2D2D2;
	margin: 0;
}
#uvmenu li a.closed, #uvmenu li.closed {
	border-bottom:0;
	margin: 0;
}
#uvmenu li a {
	display: block;
	padding:1px;
	border-left:5px solid #D2D2D2;
	background-color: #FFFFFF;
	color: #000000;
	text-decoration: none;
	font-weight:400;
}
#uvmenu li a:hover {
	border-left:5px solid #D2D2D2;
	background-color: #FFFFFF;
	color: #000000;
	font-weight:700;
}
#uvmenu .CollapsiblePanel {
	margin: 0px;
	padding: 0px;
	border:0;
}
#uvmenu .CollapsiblePanelTab {

}
#uvmenu .CollapsiblePanelContent {
	margin:0px;
	padding:0px;
	background:url("../images/blank.gif") repeat;
}
#uvmenu div.vmenuSep {
	clear:both;
	height:5px;
	display:block;
}