@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* line 3, sass/style.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 1.55em;
  color: #616263;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale; }

/* line 14, sass/style.scss */
.btn.btn-default, .inpSubmit {
  background: #667373;
  color: #fff;
  font-weight: normal;
  text-shadow: none;
  border: 1px solid #4e5858;
  padding: 0 20px;
  line-height: 40px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  /* line 27, sass/style.scss */
  .btn.btn-default:hover, .inpSubmit:hover {
    background: #1296d9;
    border: 1px solid #0a557b; }
  /* line 31, sass/style.scss */
  .btn.btn-default:active:hover, .inpSubmit:active:hover {
    background: #0e75aa;
    color: white; }
  /* line 36, sass/style.scss */
  .btn.btn-default.btn-red, .inpSubmit.btn-red {
    background: #e31f24;
    border: 1px solid #cf1a1e; }
    /* line 40, sass/style.scss */
    .btn.btn-default.btn-red:hover, .inpSubmit.btn-red:hover {
      background: #cf1a1e;
      border: 1px solid #b8171b;
      color: white; }
    /* line 45, sass/style.scss */
    .btn.btn-default.btn-red:active:hover, .inpSubmit.btn-red:active:hover {
      background: #b8171b;
      color: white; }
  /* line 50, sass/style.scss */
  .btn.btn-default.btn-green, .inpSubmit.btn-green {
    background: #a2c51a;
    border: 1px solid #8fae17; }
    /* line 54, sass/style.scss */
    .btn.btn-default.btn-green:hover, .inpSubmit.btn-green:hover {
      background: #8fae17;
      border: 1px solid #7d9814;
      color: white; }
    /* line 59, sass/style.scss */
    .btn.btn-default.btn-green:active:hover, .inpSubmit.btn-green:active:hover {
      background: #7d9814;
      color: white; }
  /* line 64, sass/style.scss */
  .btn.btn-default.btn-blue, .inpSubmit.btn-blue {
    background: #1296d9;
    border: 1px solid #1086c1; }
    /* line 68, sass/style.scss */
    .btn.btn-default.btn-blue:hover, .inpSubmit.btn-blue:hover {
      background: #1086c1;
      border: 1px solid #0e75aa;
      color: white; }
    /* line 73, sass/style.scss */
    .btn.btn-default.btn-blue:active:hover, .inpSubmit.btn-blue:active:hover {
      background: #0e75aa;
      color: white; }

/* line 81, sass/style.scss */
.btn.btn-sm {
  height: auto;
  max-height: initial;
  line-height: 2;
  padding: 2px 8px; }

/* line 89, sass/style.scss */
a:link, a:visited {
  color: #1296d9;
  text-decoration: none; }

/* line 93, sass/style.scss */
a:hover {
  color: #0e75aa; }

/* line 96, sass/style.scss */
.wrapper {
  width: 100%;
  margin: 0 auto; }

/* line 101, sass/style.scss */
#blockDiv {
  display: none; }

/* line 108, sass/style.scss */
input[type=text],
input[type=password],
input[type=number],
select {
  border: 1px solid #cccfd1;
  color: #667373;
  padding: 0 15px;
  line-height: 40px;
  font-size: 1.2em;
  height: 40px;
  max-height: 40px; }

/* line 118, sass/style.scss */
.header {
  background: #1296d9;
  padding: 1px 0; }
  /* line 121, sass/style.scss */
  .header .a-list {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 127, sass/style.scss */
    .header .a-list li {
      color: white;
      display: inline-block;
      *display: inline;
      zoom: 1;
      border-left: 1px solid #77caf4;
      padding: 8px 14px;
      font-size: 0.85em; }
      /* line 136, sass/style.scss */
      .header .a-list li a {
        color: white;
        text-decoration: none;
        display: block; }
        /* line 141, sass/style.scss */
        .header .a-list li a .fa-stack {
          font-size: 8px; }
        /* line 144, sass/style.scss */
        .header .a-list li a i[class*=fa-info] {
          font-size: 8px !important; }

/* line 151, sass/style.scss */
.top-main-header {
  border-bottom: 5px solid #dee5eb; }
  /* line 153, sass/style.scss */
  .top-main-header .contact-info {
    position: relative;
    text-align: right;
    line-height: 1;
    margin-top: 12px; }
    /* line 158, sass/style.scss */
    .top-main-header .contact-info .res-ico {
      position: absolute;
      left: 0;
      bottom: 0; }
      /* line 162, sass/style.scss */
      .top-main-header .contact-info .res-ico.res-ico-envelope {
        z-index: 10;
        left: -42px; }
        /* line 165, sass/style.scss */
        .top-main-header .contact-info .res-ico.res-ico-envelope i {
          color: #1296d9;
          font-size: 32px; }
      /* line 170, sass/style.scss */
      .top-main-header .contact-info .res-ico.res-ico-phone {
        left: -20px;
        bottom: 16px;
        background: #111111;
        padding: 0 5px;
        z-index: 20;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 0 2px #fff;
        -moz-box-shadow: 0 0 0 2px #fff;
        box-shadow: 0 0 0 2px #fff; }
        /* line 182, sass/style.scss */
        .top-main-header .contact-info .res-ico.res-ico-phone i {
          line-height: 22px;
          color: white;
          font-size: 14px; }
        /* line 188, sass/style.scss */
        .top-main-header .contact-info .res-ico.res-ico-phone:after {
          content: "";
          position: absolute;
          pointer-events: none;
          width: 0;
          height: 0;
          bottom: -16px;
          right: -5px;
          border-style: solid;
          border-width: 10px 5px;
          border-color: #111111 transparent transparent transparent;
          -moz-transform: rotate(-25deg);
          -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg); }
    /* line 205, sass/style.scss */
    .top-main-header .contact-info .phone {
      color: black;
      font-size: 1.5em; }
    /* line 210, sass/style.scss */
    .top-main-header .contact-info .email a:link, .top-main-header .contact-info .email a:visited {
      font-size: 0.9em;
      color: #1296d9; }

/* line 217, sass/style.scss */
.logo-row {
  padding: 35px 0;
  border-bottom: 1px solid #e5e8eb; }

/* line 221, sass/style.scss */
.page-holder {
  width: 1100px;
  margin: 0 auto; }

/* line 230, sass/style.scss */
.domain-searcher {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px; }
  /* line 236, sass/style.scss */
  .domain-searcher form .form-wrapper {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 5px;
    vertical-align: middle; }
    /* line 243, sass/style.scss */
    .domain-searcher form .form-wrapper.search-list {
      width: 15%; }
    /* line 246, sass/style.scss */
    .domain-searcher form .form-wrapper.search-button {
      width: 20%; }
    /* line 249, sass/style.scss */
    .domain-searcher form .form-wrapper.search-input {
      width: 65%; }
    /* line 253, sass/style.scss */
    .domain-searcher form .form-wrapper input[type=text] {
      color: #e31f24; }
    /* line 257, sass/style.scss */
    .domain-searcher form .form-wrapper input, .domain-searcher form .form-wrapper button {
      height: 50px;
      line-height: 50px;
      width: 100%;
      border: 1px solid #cccfd1;
      color: #c1c1c1;
      padding: 0 15px;
      font-size: 1.2em; }
    /* line 267, sass/style.scss */
    .domain-searcher form .form-wrapper button[type=submit] {
      background: #a2c51a;
      color: white;
      font-weight: bold;
      text-transform: uppercase; }
      /* line 273, sass/style.scss */
      .domain-searcher form .form-wrapper button[type=submit] i {
        margin-right: 10px; }
  /* line 281, sass/style.scss */
  .domain-searcher .domain-links {
    display: flex;
    margin: 15px 0;
    justify-content: center; }
    /* line 286, sass/style.scss */
    .domain-searcher .domain-links .link-wrapper {
      padding: 0 5px;
      flex-basis: 25%; }
      /* line 290, sass/style.scss */
      .domain-searcher .domain-links .link-wrapper a {
        display: block;
        background: #cccfd1;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 0.95em;
        line-height: 1;
        padding: 10px 0;
        text-transform: uppercase; }
        /* line 301, sass/style.scss */
        .domain-searcher .domain-links .link-wrapper a:hover {
          background: #878787; }

/* line 309, sass/style.scss */
.adv-block-container {
  position: relative;
  background-color: #e6f0fa;
  background-image: url("../images/adv-block-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right; }
  /* line 317, sass/style.scss */
  .adv-block-container .adv-wrapper {
    padding: 40px 0 60px 0; }
    /* line 320, sass/style.scss */
    .adv-block-container .adv-wrapper .overlay {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 56px;
      pointer-events: none;
      background-image: url("../images/cloud-bottom.svg");
      background-repeat: repeat-x;
      background-size: contain;
      background-position: bottom center; }
    /* line 334, sass/style.scss */
    .adv-block-container .adv-wrapper .cont-feat {
      padding: 50px 0 20px 0; }
      /* line 337, sass/style.scss */
      .adv-block-container .adv-wrapper .cont-feat .image {
        position: relative;
        width: 80%;
        margin: 0 auto; }
        /* line 342, sass/style.scss */
        .adv-block-container .adv-wrapper .cont-feat .image .texts {
          position: absolute;
          width: 100%;
          left: 0;
          top: 0; }
          /* line 348, sass/style.scss */
          .adv-block-container .adv-wrapper .cont-feat .image .texts .title {
            position: absolute;
            font-size: 1.25em;
            left: 5px;
            top: -40px;
            color: #d03236; }
          /* line 356, sass/style.scss */
          .adv-block-container .adv-wrapper .cont-feat .image .texts .list {
            border-left: 1px solid #cccfd1;
            position: absolute;
            top: -25px;
            left: 230px; }
            /* line 362, sass/style.scss */
            .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul, .adv-block-container .adv-wrapper .cont-feat .image .texts .list li {
              list-style: none;
              margin: 0;
              padding: 0; }
            /* line 368, sass/style.scss */
            .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul {
              margin-top: -25px; }
              /* line 370, sass/style.scss */
              .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li {
                color: #878787;
                line-height: 50px; }
                /* line 372, sass/style.scss */
                .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li span.f {
                  color: #5a5a5a;
                  font-weight: bold; }
                /* line 382, sass/style.scss */
                .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.cpu, .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.ram, .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.hdd, .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.cpu {
                  position: relative;
                  padding-left: 35px; }
                  /* line 386, sass/style.scss */
                  .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.cpu:before, .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.ram:before, .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.hdd:before, .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.cpu:before {
                    position: absolute;
                    content: "";
                    width: 30px;
                    top: 25px;
                    left: 0;
                    height: 1px;
                    background: #cccfd1; }
                /* line 397, sass/style.scss */
                .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.ram {
                  padding-left: 15px; }
                  /* line 399, sass/style.scss */
                  .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.ram:before {
                    width: 10px; }
                /* line 403, sass/style.scss */
                .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.hdd {
                  padding-left: 65px; }
                  /* line 405, sass/style.scss */
                  .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.hdd:before {
                    width: 60px; }
                /* line 410, sass/style.scss */
                .adv-block-container .adv-wrapper .cont-feat .image .texts .list ul li.ip {
                  position: absolute;
                  left: -5px; }
        /* line 419, sass/style.scss */
        .adv-block-container .adv-wrapper .cont-feat .image img {
          width: 100%;
          max-width: 100%; }
    /* line 426, sass/style.scss */
    .adv-block-container .adv-wrapper .cont-text {
      padding: 25px; }
      /* line 429, sass/style.scss */
      .adv-block-container .adv-wrapper .cont-text h1, .adv-block-container .adv-wrapper .cont-text h2 {
        margin: 5px 0;
        font-weight: bold;
        color: #424242; }
      /* line 435, sass/style.scss */
      .adv-block-container .adv-wrapper .cont-text h1 {
        font-size: 3em;
        text-transform: uppercase; }
      /* line 440, sass/style.scss */
      .adv-block-container .adv-wrapper .cont-text h2 {
        font-size: 2em;
        letter-spacing: -1px; }
      /* line 445, sass/style.scss */
      .adv-block-container .adv-wrapper .cont-text .description {
        font-size: 1.15em;
        color: #5c5c5c;
        line-height: 1.2; }
      /* line 452, sass/style.scss */
      .adv-block-container .adv-wrapper .cont-text .offer {
        color: #1296d9;
        margin-top: 20px;
        font-size: 1.4em;
        line-height: 1.2; }
        /* line 458, sass/style.scss */
        .adv-block-container .adv-wrapper .cont-text .offer .price {
          font-weight: bold;
          font-size: 3em; }
    /* line 465, sass/style.scss */
    .adv-block-container .adv-wrapper > div.row > div[class*=col-md-6]:first-child {
      border-right: 1px solid #cccfd1; }

/* line 471, sass/style.scss */
.service-block-container {
  background-color: white;
  background-image: url("../images/global-map-overlay-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  border: 1px solid #e5e8eb;
  border-left: none;
  border-right: none;
  overflow: hidden;
  padding: 75px 0; }
  /* line 482, sass/style.scss */
  .service-block-container .services {
    display: flex;
    margin: 0 -25px; }
    /* line 486, sass/style.scss */
    .service-block-container .services > .service-wrapper {
      flex-basis: 25%;
      padding: 25px; }
      /* line 490, sass/style.scss */
      .service-block-container .services > .service-wrapper .box {
        position: relative;
        padding: 15px;
        padding-top: 35px;
        border: 1px solid #e1e1e1;
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        text-align: center;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
        /* line 503, sass/style.scss */
        .service-block-container .services > .service-wrapper .box .price-holder {
          position: absolute;
          left: 0;
          right: 0;
          top: -40px;
          background: #667373;
          color: white;
          text-align: center;
          font-weight: bold;
          margin: 0 auto;
          font-size: 1.2em;
          width: 80px;
          height: 80px;
          -webkit-border-radius: 80px;
          -moz-border-radius: 80px;
          border-radius: 80px; }
          /* line 520, sass/style.scss */
          .service-block-container .services > .service-wrapper .box .price-holder .price {
            padding: 22px 0;
            line-height: 1.2; }
            /* line 524, sass/style.scss */
            .service-block-container .services > .service-wrapper .box .price-holder .price .cycle {
              font-size: 0.85em; }
        /* line 531, sass/style.scss */
        .service-block-container .services > .service-wrapper .box .title h2 {
          color: #667373;
          font-weight: bold;
          font-size: 1.3em; }
        /* line 537, sass/style.scss */
        .service-block-container .services > .service-wrapper .box .features {
          margin: 0 10px;
          font-size: 0.9em; }
          /* line 541, sass/style.scss */
          .service-block-container .services > .service-wrapper .box .features .feature {
            margin: 5px 0; }
            /* line 544, sass/style.scss */
            .service-block-container .services > .service-wrapper .box .features .feature img.ico {
              float: left;
              margin-right: 10px; }
            /* line 549, sass/style.scss */
            .service-block-container .services > .service-wrapper .box .features .feature .text {
              font-size: 0.9em;
              line-height: 20px;
              text-align: left;
              color: #878787; }
        /* line 557, sass/style.scss */
        .service-block-container .services > .service-wrapper .box .action {
          margin: 0 10px;
          margin-top: 20px; }
          /* line 561, sass/style.scss */
          .service-block-container .services > .service-wrapper .box .action a, .service-block-container .services > .service-wrapper .box .action a:link, .service-block-container .services > .service-wrapper .box .action a:visited {
            background: #667373;
            display: block;
            padding: 12px;
            line-height: 1;
            font-size: 0.8em;
            text-align: center;
            color: white; }
        /* line 573, sass/style.scss */
        .service-block-container .services > .service-wrapper .box.style-blue .price-holder {
          background: #1296d9; }
        /* line 576, sass/style.scss */
        .service-block-container .services > .service-wrapper .box.style-blue .action a {
          background: #1296d9; }
        /* line 581, sass/style.scss */
        .service-block-container .services > .service-wrapper .box.style-red .price-holder {
          background: #e31f24; }
        /* line 584, sass/style.scss */
        .service-block-container .services > .service-wrapper .box.style-red .action a {
          background: #e31f24; }
        /* line 589, sass/style.scss */
        .service-block-container .services > .service-wrapper .box.style-green .price-holder {
          background: #a2c51a; }
        /* line 592, sass/style.scss */
        .service-block-container .services > .service-wrapper .box.style-green .action a {
          background: #a2c51a; }

/* line 600, sass/style.scss */
.red {
  color: #e31f24; }

/* line 603, sass/style.scss */
.green {
  color: #a2c51a; }

/* line 606, sass/style.scss */
.blue {
  color: #0e75aa; }

/* line 609, sass/style.scss */
.ac {
  text-align: center; }

/* line 612, sass/style.scss */
.ar {
  text-align: right; }

/* line 615, sass/style.scss */
.al {
  text-align: left; }

/* line 618, sass/style.scss */
.alc {
  margin: 0 auto; }

/* line 621, sass/style.scss */
.vlt {
  vertical-align: top; }

/* line 624, sass/style.scss */
.vlm {
  vertical-align: middle; }

/* line 627, sass/style.scss */
.vlb {
  vertical-align: bottom; }

/* line 633, sass/style.scss */
table.data > tbody > tr > td {
  padding: 5px 0;
  border-bottom: 1px solid #d7d7d7; }
/* line 639, sass/style.scss */
table.data td.btn-line {
  background: #efefef; }

/* line 644, sass/style.scss */
.labels-title {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0; }

/* line 651, sass/style.scss */
table.labels {
  font-size: 0.9em;
  border: 1px solid #e4e4e4;
  border-left: none;
  border-right: none; }
  /* line 657, sass/style.scss */
  table.labels td {
    padding: 10px; }

/* line 661, sass/style.scss */
#domainPrices {
  width: 100%; }
  /* line 664, sass/style.scss */
  #domainPrices td {
    border: 1px solid #e6e6e6;
    padding: 10px; }
  /* line 669, sass/style.scss */
  #domainPrices tr:nth-child(even) {
    background: #fafafa; }

/* line 674, sass/style.scss */
th.head {
  position: relative;
  color: black;
  padding: 15px 0;
  cursor: ns-resize; }
  /* line 681, sass/style.scss */
  th.head.sortedDESC:after, th.head.sortedASC:after {
    color: #999999;
    position: absolute;
    right: 5px;
    font-family: 'FontAwesome'; }
  /* line 687, sass/style.scss */
  th.head.sortedDESC:after {
    content: "\f0d7"; }
  /* line 690, sass/style.scss */
  th.head.sortedASC:after {
    content: "\f0d8"; }

/* line 696, sass/style.scss */
.cart-container .refresh-cart {
  border-top: 2px dashed #d3d3d3;
  font-size: 0.85em;
  padding: 10px 0 0 0; }
/* line 703, sass/style.scss */
.cart-container table td {
  padding: 8px 0; }
/* line 708, sass/style.scss */
.cart-container .remove-cart {
  color: black; }

/* line 714, sass/style.scss */
.cart-coupon-container,
.cart-summary-container {
  background: #f8f8f8;
  padding: 15px; }
  /* line 718, sass/style.scss */
  .cart-coupon-container h3,
  .cart-summary-container h3 {
    margin: 0 0 10px 0; }
  /* line 722, sass/style.scss */
  .cart-coupon-container .code,
  .cart-summary-container .code {
    margin-top: 10px; }
    /* line 725, sass/style.scss */
    .cart-coupon-container .code input[type=text],
    .cart-summary-container .code input[type=text] {
      margin-bottom: 10px; }

/* line 731, sass/style.scss */
.cart-summary-container {
  background: transparent; }
  /* line 734, sass/style.scss */
  .cart-summary-container h3 {
    text-align: right;
    color: black;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 741, sass/style.scss */
  .cart-summary-container table td {
    padding: 5px; }
  /* line 745, sass/style.scss */
  .cart-summary-container a.submitCart {
    background: #a2c51a;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px; }

/* line 756, sass/style.scss */
table.form-button-row input[type=button],
table.form-button-row input[type=submit] {
  display: inline-block;
  *display: inline;
  zoom: 1; }

/* line 764, sass/style.scss */
fieldset legend {
  text-align: center;
  display: block;
  padding: 10px;
  margin: 0;
  height: auto; }

/* line 773, sass/style.scss */
.divblock {
  display: block; }

/* line 777, sass/style.scss */
table {
  margin: 0 auto; }
  /* line 781, sass/style.scss */
  table.width-100, table#doc {
    width: 100%; }

/* line 787, sass/style.scss */
table.transcheck td {
  padding: 10px 0px; }

/* line 794, sass/style.scss */
#checkpage table td {
  padding: 10px 0; }
/* line 799, sass/style.scss */
#checkpage .domain-check-form {
  text-align: center;
  margin-bottom: 50px; }
  /* line 803, sass/style.scss */
  #checkpage .domain-check-form .inpSubmit {
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 0px 15px;
    line-height: 1.8;
    font-weight: bold;
    margin-top: 10px; }

/* line 814, sass/style.scss */
.error_f {
  color: red;
  padding: 8px 0;
  font-size: 0.8em; }

/* line 820, sass/style.scss */
.success {
  background: #a2c51a;
  color: white;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em; }

/* line 828, sass/style.scss */
.warning {
  background: #f7d843;
  color: #a99534;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em; }

/* line 835, sass/style.scss */
.error {
  background: #e31f24;
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em; }

/* line 843, sass/style.scss */
.tip-wrap {
  background: #667373;
  color: #e6e6e6;
  font-size: 0.9em;
  padding: 5px 8px;
  line-height: 1.4; }
  /* line 850, sass/style.scss */
  .tip-wrap .tip-title {
    color: white;
    font-size: 1.2em;
    font-weight: bold; }

/* line 857, sass/style.scss */
table#mainData {
  width: 1100px;
  margin: 0 auto; }
  /* line 861, sass/style.scss */
  table#mainData td#tablehead {
    padding: 25px 0; }
    /* line 864, sass/style.scss */
    table#mainData td#tablehead h1 {
      font-size: 1.8em;
      margin: 0;
      font-weight: bold;
      color: #444444;
      line-height: 1.2; }
  /* line 873, sass/style.scss */
  table#mainData td#mainTD {
    padding-top: 20px; }

/* line 878, sass/style.scss */
table.pkgtable {
  width: 100%;
  border: 1px solid #667373; }
  /* line 881, sass/style.scss */
  table.pkgtable td {
    padding: 8px; }
  /* line 884, sass/style.scss */
  table.pkgtable td.pkgtabletitle {
    background: #667373;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 891, sass/style.scss */
  table.pkgtable td.descr {
    background: #f6f6f6;
    border-right: 1px solid #dadada;
    width: 75%;
    color: #676767; }
  /* line 897, sass/style.scss */
  table.pkgtable td.order {
    padding: 0;
    vertical-align: bottom; }
  /* line 902, sass/style.scss */
  table.pkgtable table {
    width: 100%; }

/* line 908, sass/style.scss */
table.price td.term {
  font-size: 0.9em;
  color: black; }
/* line 912, sass/style.scss */
table.price td.price {
  text-align: center;
  font-weight: bold;
  background: #1296d9;
  color: white; }
/* line 919, sass/style.scss */
table.price td {
  border-bottom: 1px dashed #d7d7d7; }
/* line 923, sass/style.scss */
table.price tr:first-child td {
  border-top: 1px dashed #d7d7d7; }
/* line 927, sass/style.scss */
table.price tr:last-child td {
  border-bottom: none; }

/* line 932, sass/style.scss */
#login {
  padding: 25px;
  background: #f1f1f1; }
  /* line 936, sass/style.scss */
  #login #mainData {
    margin-bottom: 25px; }
  /* line 942, sass/style.scss */
  #login .login_credentials table td {
    padding: 4px 0; }
  /* line 948, sass/style.scss */
  #login .register-title {
    color: black;
    font-weight: bold; }
  /* line 953, sass/style.scss */
  #login .login-register-info {
    position: relative;
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 13px 20px;
    font-size: 0.8em; }
    /* line 962, sass/style.scss */
    #login .login-register-info .underline {
      margin-bottom: 10px;
      color: #333;
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 0 0 5px; }
    /* line 970, sass/style.scss */
    #login .login-register-info .whyregister {
      padding: 0;
      margin: 0 0 0 18px; }
    /* line 975, sass/style.scss */
    #login .login-register-info .newaccount {
      margin-top: 10px;
      text-align: left; }
    /* line 980, sass/style.scss */
    #login .login-register-info:before {
      position: absolute;
      content: "";
      left: 50%;
      top: -40px;
      border-style: solid;
      border-width: 20px;
      border-color: transparent transparent #ffffff transparent;
      transform: translateX(-50%); }

/* line 994, sass/style.scss */
table.data.alc td.boxtitle {
  font-size: 1.3em;
  color: black;
  font-weight: bold;
  text-align: left;
  padding-bottom: 10px; }
/* line 1002, sass/style.scss */
table.data.alc td select {
  border: 1px solid #d7d7d7; }

/* line 1007, sass/style.scss */
a.inplink {
  display: block;
  background: #a2c51a;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  color: white; }
  /* line 1017, sass/style.scss */
  a.inplink:hover {
    background: #7d9814; }

/* line 1022, sass/style.scss */
.underline {
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 5px solid #e8e8e8; }

/* line 1028, sass/style.scss */
.bold {
  font-weight: bold; }

/* line 1036, sass/style.scss */
.tlds table tr td {
  border-bottom: 1px solid #d3d3d3;
  padding: 5px 0; }
  /* line 1040, sass/style.scss */
  .tlds table tr td p {
    margin: 0; }

/* line 1048, sass/style.scss */
h2.hsignup {
  margin: 0 0 20px 0; }

/* line 1052, sass/style.scss */
.unchecked, .checked {
  position: relative;
  padding-left: 25px;
  cursor: pointer; }
  /* line 1057, sass/style.scss */
  .unchecked:before, .checked:before {
    content: "";
    position: absolute;
    left: 0;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    width: 20px;
    height: 20px; }

/* line 1069, sass/style.scss */
.checked:before {
  content: "\f00c";
  line-height: 20px;
  text-align: center;
  font-family: 'FontAwesome';
  color: white;
  background: #1296d9;
  border: 1px solid #0e75aa; }

/* line 1081, sass/style.scss */
.togglerHolder .toggler {
  position: relative;
  margin: 5px 0;
  background: #fafafa;
  border: 2px solid #f2f2f2;
  padding: 10px;
  color: black;
  cursor: pointer; }
  /* line 1090, sass/style.scss */
  .togglerHolder .toggler:hover {
    background: #e8e8e8; }
  /* line 1094, sass/style.scss */
  .togglerHolder .toggler.selected {
    border: 2px solid #a2c51a;
    color: #7d9814;
    font-weight: bold; }
    /* line 1099, sass/style.scss */
    .togglerHolder .toggler.selected:after {
      content: "\f00c";
      font-family: 'FontAwesome';
      position: absolute;
      right: 15px;
      color: #a2c51a; }

/* line 1109, sass/style.scss */
.elementHolder {
  margin: 15px 0;
  padding: 15px; }

/* line 1114, sass/style.scss */
.width-100 {
  width: 100%; }

/* line 1117, sass/style.scss */
.width-10 {
  width: 10%; }

/* line 1120, sass/style.scss */
.width-15 {
  width: 20%; }

/* line 1123, sass/style.scss */
.width-20 {
  width: 20%; }

/* line 1126, sass/style.scss */
.width-25 {
  width: 25%; }

/* line 1129, sass/style.scss */
.width-30 {
  width: 30%; }

/* line 1132, sass/style.scss */
.width-35 {
  width: 35%; }

/* line 1135, sass/style.scss */
.width-40 {
  width: 40%; }

/* line 1138, sass/style.scss */
.width-45 {
  width: 45%; }

/* line 1141, sass/style.scss */
.width-50 {
  width: 50%; }

/* line 1144, sass/style.scss */
.width-55 {
  width: 55%; }

/* line 1147, sass/style.scss */
.width-60 {
  width: 60%; }

/* line 1150, sass/style.scss */
.width-65 {
  width: 65%; }

/* line 1153, sass/style.scss */
.width-70 {
  width: 70%; }

/* line 1156, sass/style.scss */
.width-75 {
  width: 75%; }

/* line 1159, sass/style.scss */
.width-80 {
  width: 80%; }

/* line 1162, sass/style.scss */
.width-85 {
  width: 85%; }

/* line 1165, sass/style.scss */
.width-90 {
  width: 90%; }

/* line 2, sass/_footer.scss */
#bottom_bg .footer-features-images {
  margin: 35px auto 20px auto;
  text-align: center; }
/* line 6, sass/_footer.scss */
#bottom_bg .bottom {
  background-color: #1296d9;
  padding: 25px 0;
  color: white;
  min-height: 130px;
  height: 130px; }
  /* line 13, sass/_footer.scss */
  #bottom_bg .bottom .logostr {
    position: absolute;
    top: 0;
    left: 15px; }
    /* line 17, sass/_footer.scss */
    #bottom_bg .bottom .logostr .company-name {
      font-size: 2em;
      line-height: 1; }
    /* line 21, sass/_footer.scss */
    #bottom_bg .bottom .logostr .slogan {
      font-size: 0.84em;
      line-height: 1.5;
      font-weight: 300; }
  /* line 28, sass/_footer.scss */
  #bottom_bg .bottom .forlinks {
    color: white;
    font-size: 0.85em;
    text-align: center; }
    /* line 33, sass/_footer.scss */
    #bottom_bg .bottom .forlinks a:link, #bottom_bg .bottom .forlinks a:visited {
      text-transform: uppercase;
      text-decoration: none;
      color: white; }
    /* line 38, sass/_footer.scss */
    #bottom_bg .bottom .forlinks a:hover {
      color: #bde5fa; }
    /* line 41, sass/_footer.scss */
    #bottom_bg .bottom .forlinks .sep {
      margin: 0 5px; }
  /* line 46, sass/_footer.scss */
  #bottom_bg .bottom .contact-list {
    position: absolute;
    top: 0;
    right: -100px;
    color: #bde5fa;
    text-align: left;
    font-size: 0.85em; }
    /* line 55, sass/_footer.scss */
    #bottom_bg .bottom .contact-list > div {
      line-height: 1.4; }
    /* line 59, sass/_footer.scss */
    #bottom_bg .bottom .contact-list .value {
      color: white; }
/* line 64, sass/_footer.scss */
#bottom_bg .footer {
  background: #667373;
  padding: 10px 0; }
  /* line 68, sass/_footer.scss */
  #bottom_bg .footer .copyright {
    color: #d1d1d1;
    font-size: 0.74em; }
