/* Alapé. Oldal szélesség */
@media screen and (max-width: 1100px) {
  .page-holder{
    width: 100%;
  }
  table#mainData{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  #menu > li > a{
    font-size: 16px !important;
    padding-right: 15px !important;
  }
  #menu > li > a.ac {
    margin-left: 0 !important;
    font-size: 11px !important;
  }
  .logo-row{
    .logo {
      padding: 0 0 0 30px;
    }
  }

  .domain-searcher{
    width: 80%;
  }

  .domain-searcher form .form-wrapper button[type=submit]{
    font-size: 1em;
  }

  .domain-searcher form .form-wrapper button[type=submit] i{
    margin-right: 0;
  }

  .top-main-header{
    .row{
      padding: 0 30px !important;
    }
  }
  .adv-block-container .adv-wrapper .cont-feat .image .texts .list{
    top: -50px;
    left: auto;
    right: -50px;
  }
}

/* Layout breakpoint */
@media screen and (max-width: 992px) {
  .logo-row{
    .logo {
      text-align: center;
    }
  }

  .domain-searcher{
    width: 85%;
  }

  .service-block-container .services{
    flex-wrap: wrap;
  }
  .service-block-container .services > .service-wrapper{
    flex-basis: 50%;
  }

  .hideon-layout-break{
    display:none;
  }

  .menu-holder{
    text-align: center;
  }

  #bottom_bg .footer{
    text-align: center;
  }

  #bottom_bg .bottom{
    height: auto;
    min-height: initial;
  }
  #bottom_bg .bottom .logostr,
  #bottom_bg .bottom .contact-list
  {
    position: relative;
    top: auto;
    left: auto;
    right:  auto;
  }
  #bottom_bg .bottom .logostr{
    margin-bottom: 15px;
  }
  #bottom_bg .bottom .contact-list{
    text-align: center;
    margin-top: 15px;
  }
}

/* Standard tablet */
@media screen and (max-width: 768px) {
  #watermarklogo{
    top: 35px;
  }
  .adv-block-container{
    background-image: none;
  }
  .info-blocks .item .item-wrapper{
    margin: 20px 5%;
  }
  .domain-searcher form .form-wrapper.search-input{
    width: 55%;
  }
  .domain-searcher form .form-wrapper input,
  .domain-searcher form .form-wrapper button{
    font-size: 1em;
  }
  .domain-searcher form .form-wrapper.search-list{
    width: 20%;
  }
  .domain-searcher form .form-wrapper.search-button{
    width: 25%;
  }
  .domain-searcher .domain-links .link-wrapper a{
    padding: 15px 0;
  }
  .domain-searcher form .form-wrapper button[type=submit]{
    font-size: 0.85em;

    i{
      display: none;
    }
  }
  .domain-searcher{
    width: 95%;
    margin: 8px auto;
  }
  .domain-searcher .domain-links .link-wrapper{
    padding: 5px;
  }
  .domain-searcher .domain-links{
    margin: 0;
  }
  .logo-row .logo {
    padding: 0 !important;
  }
  .logo-row {
    padding: 10px 0 20px 0;
    position: relative;

    .row{
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  .mobile-login-button{
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
    margin-top: 10px;

    a{
      display: initial;
      padding: 8px 10px;
      font-size: 13px;
      font-weight: 400;
      margin: 0 auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: $color-red;
      color: white;
    }
  }
  #menu-toggler{
    position: absolute;
    left: 25px;
    top: 50%;
    background: #E3E9E8;
    padding: 8px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    transform:translateY(-50%);

    i{
      font-size: 24px;
      line-height: 1;
      color: #53605F;
    }

    &:hover,
    &:focus {
      background: $color-red !important;

      i{
        color: white;
      }
    }
  }

  .top-main-header{
    background: $color-primary;
    height: 0px !important;
    overflow: hidden;

    .row, .menu-holder{
      padding: 0 !important;
      margin: 0 !important;
    }

    &.opened{
      height: 1% !important;
    }
  }

  #menu > li:not(.hide-on-mobiles){
    display: block !important;
    height: auto !important;
    max-height: 60px !important;

    a{
      padding: 0 15px;
      text-align: left;
      color: white !important;
    }
  }

  #menu > li.active:not(.hide-on-mobiles){
    display: block !important;
    height: auto !important;
    max-height: 100% !important;
  }

  #menu > li > ul{
    display: none !important;
    position: relative !important;
    top: initial !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    background: darken($color-primary, 10%) !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    box-shadow: inset 0 0 10px -5px #000000 !important;

    li > a{
      padding: 15px 25px !important;
    }
  }

  #menu > li.active > ul{
    display: block !important;
    top: 0 !important;
  }

  #menu > li > ul:before {
    left: 25px !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    transform: translateX(0) !important;
    border-color: transparent transparent darken($color-primary, 10%) transparent !important;
}

  #menu > li.active > ul{
    display: block !important;
  }

  .mobile-logged-user{
    text-align: center;
    margin-top: 10px;
    a.user{
      background: $color-grey;
      color: white;
      line-height: 1.5;
      font-size: 14px;
      padding: 8px 10px;
    }

    a.mobile-logout{
      background: $color-red;
      color: white;
      line-height: 1.5;
      font-size: 14px;
      padding: 8px 10px;
    }
  }

  .domain-searcher .domain-links{
    flex-wrap: wrap;
  }

  .domain-searcher .domain-links .link-wrapper{
    flex-basis: 50%;
  }

  .adv-block-container .adv-wrapper{
    padding: 40px 0 5px 0;
  }

  .show-on-mobiles{
    display: block;
  }
  .hide-on-mobiles{
    display: none !important;
  }

  .row{
    margin: 0;

    & > div[class^=col-]{
      padding: 0;
    }
  }

  #login .login_credentials{
    .aszft{
      margin: 5px 0;
      text-align: center;
    }
  }

  #login .register-title{
    margin-top:25px;
  }

  .adv-block-container .adv-wrapper .cont-text{
    padding: 15px;
  }

  table td#docTD{
    padding: 0 15px;
  }

  #login{
    margin: 0 -15px;
  }

  .homepage{
    margin: 0 -15px;
  }
  table#mainData td#tablehead{
    padding: 20px 0 0 0;
    font-size: 1em;
  }
  table#mainData td#tablehead h1{
    line-height: 1;
  }

  table.data td.boxtitle{
    font-size: 1em !important;
  }

  table.pkgtable{
     td.descr,
     td.order{
       display: block;
       width: 100%;
     }
  }

  iframe{
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
  }

  #pkg{
    table.data{
      td {
        display: block;
        text-align: center;
        width: 100%;
        padding: 5px;
      }

      *[class*=width-]{
        width: 100%;
      }
    }

    .pkgtabletitle{
      text-align: center;
    }
  }

  .tlds{
    table{
      tr, td {
        width: 50% !important;
        display: inline-block;
        *display: inline;
        zoom: 1;
        text-align: center;
      }

      td {
        border-bottom: none !important;
      }
    }
  }

  .table-container{
    width: 100%;
    overflow: auto;

    table {
      overflow-x: auto;
		  display: block;
    }
  }

  .fullwidthonmobile{
    width: 100% !important;
    display: block !important;
  }

  table.formtable,
  table.contactform {
    tr, td, td[class*=width-]{
      width: 100% !important;
      display: block;
    }

    .ar, .al, .ac {
      text-align: left !important;
    }

    *[class*=width-]{
      width: 100%;
    }

    textarea{
      border: 1px solid #cccfd1;
    }
  }

  .inpSubmit,
  .cart-coupon-container .code, .cart-summary-container .code input[type=submit]{
    width: 100%;
    margin: 0 auto 5px auto;
  }

  .cart-summary-container{
    padding: 10px 0;
  }

  .server-details .details-important, .server-details .details-features{
    display: block;
    width: 100%;
    float: none;
  }

  .server-details .details-important{
    border: none;
    padding: 0 !important;
    margin: 0 !important;
  }
  .server-details .details-features{
    padding: 10px 0 0 0 !important;
    margin: 15px 0 0 0 !important;
    font-size: 0.85em;
    border-top: 1px solid #d7d7d7;

    td {
      vertical-align: top !important;
    }
  }
  .server-details .details-important .image{
    height: auto;
    width: 100%;
    margin: 0 auto 15px auto;

    img{
      width: 80%;
      height: auto;
    }
  }

  .elements{
    strong{
      display: block;
      width: 100%;
      margin: 0 0 5px 0;
    }
    select,
    input[type=text]{
      width: 100%;
      margin: 0 0 5px 0;
    }

    select + input[type=submit],
    input[type=text] + input[type=submit] {
      width: 100%;
      margin: 0 0 5px 0;
    }
  }

  #uvmenu{
    padding: 0;
  }

  table#mainData.account-page .account-page-holder .sidemenu,
  table#mainData.account-page .account-page-holder .account-contant-container{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  table#mainData.account-page .account-page-holder .account-contant-container{
    margin-top: 15px;
    font-size: 0.9em;
  }

  table#mainData.account-page .account-page-holder .sidemenu #uvmenu {
    display: none;
  }
  table#mainData.account-page .account-page-holder .sidemenu #uvmenu.opened {
    display: block;
  }

  .usermenutoggler{
    text-align: center;
    background: $color-green;
    color: white;
    padding: 15px;
    margin: 0 0 5px 0;
    font-size: 0.85em;
    cursor: pointer;
    position: relative;

    &:before, &:after {
      position: absolute;
      content:"\f067";
      font-family: 'FontAwesome';
    }

    &:before{
      left: 10px;
    }
    &:after{
      right: 10px;
    }

    &.opened {
      background: desaturate($color-red, 20);
      &:before, &:after {
        content:"\f068";
      }
    }
  }

  table#mainData.account-page #userStatsLeft{
    display: block;
    width: 100%;
  }
  table#mainData.account-page .accountdetails{
    display: block;
    width: 100%;
  }

  table#mainData.account-page fieldset legend{
    margin: 0 0 15px 0;
  }

  table#mainData.account-page .topup input[type=submit]{
    margin: 5px 0;
  }

  table#mainData.account-page .topup{
    text-align: center;
  }

  table#mainData.account-page #userStatsLeft,
  table#mainData.account-page #userPanel{
    .action-btn{
      display: block;
      text-align: center;
      padding: 8px;
      margin: 4px 0;
    }
  }
  table#mainData.account-page .domain-search-welcome{
    position: relative;
    bottom: auto;

    input[type=text]{
      margin-bottom: 5px;
      width: 100%;
    }
  }
  table#mainData.account-page #userPanel ul.tab-menu{
    width: 100%;
    top: -48px;
  }
  table#mainData.account-page .user-stat-holder .rhead,
  table#mainData.account-page .user-stat-holder .rvar {
    text-align: center;
    font-size: 1.2em;
  }
  table#mainData.account-page .user-stat-holder .rvar {
    font-size: 1.6em;
  }
  table#mainData.account-page #userPanel ul.tab-menu li{
    text-align: center;
    width: 50%;
    margin: 0;
    font-size: 0.9em;
  }
  .box .row > div[class*=col-]  {
    input[type=text],
    select,
    input[type=submit]
    input[type=button]{
      margin: 5px 0;
    }
  }
}


/* Standard mobileszköz */
@media screen and (max-width: 480px) {
  #menu-toggler{
    left: 15px;
  }
  #watermarklogo{
    top: auto;
    bottom: 0;
  }
  .h1, h1 {
    font-size: 30px;
  }
  .adv-block-container .adv-wrapper .cont-feat .image .texts .list {
    right: -20px;
    top: -65px;
    font-size: 0.75em;
  }
  .adv-block-container .adv-wrapper .cont-feat .image .texts .title{
    font-size: 1em;
  }
  .domain-searcher form .form-wrapper input, .domain-searcher form .form-wrapper button {
    font-size: 0.7em;
  }
  .service-block-container .services > .service-wrapper{
    flex-basis: 100%;
    margin: 0 5%;
  }

  .header .a-list{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100%;

    li{
      text-align: center;
    }
    li:first-child{
      border-left: none;
    }
  }
  .service-block-container{
    padding: 20px 0;
  }
}

/* Small mobileszköz */
@media screen and (max-width: 340px) {
  body{
    font-size: 1.35em;
  }
  .service-block-container .services{
    font-size: 1.2em;
  }
  .service-block-container .services > .service-wrapper .box .features .feature .text{
    font-size: 1.05em;
  }
  #menu-toggler{
    left: 5px;
  }
  .domain-searcher .domain-links .link-wrapper a{
    font-size: 0.9em;
  }
  .header .a-list li a i{
    display:none !important;
  }
}
