@import 'settings';

/* Főmenü */
#menu {
    list-style: none;
    margin: 0;
    padding:0;

    & > li {
        position: relative;
        display: inline-block;
        *display: inline;
        zoom: 1;
        height: 60px;
        vertical-align: middle;
        line-height: 60px;

        a {
            position: relative;
            color: #667373;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            display:block;
            padding-right: 25px;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            transition: all .4s;

            &:hover {
                color: $color-primary;
            }

            &.ac {
                display: initial;
                padding: 10px 15px;
                font-size: 11px;
                font-weight: 400;
                margin-left: 50px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            &.ac.need-login {
                background: $color-red;
                color: white;
            }
            &.ac.logged-in {
              background: darken($color-grey, 10%);
              color: white;
            }
        }

        & > ul {
            z-index: 999;
            display: none;
            position: absolute;
            left: 50%;
            top: 60px;
            list-style: none;
            margin: 0;
            padding: 0;
            min-width: 200px;
            background: #6b6b6b;
            -webkit-box-shadow: 0 2px 15px -5px #000;
            -moz-box-shadow: 0 2px 15px -5px #000;
            box-shadow: 0 2px 15px -5px #000;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-border-radius: 0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;

            li {
                a {
                  line-height: 1;
                  padding: 15px;
                  color: #fff;
                  font-size: 12px;
                  &:hover {
                    color: white;
                    background: $color-primary;
                  }
                }
            }
            li:last-child {
              a:hover {
                -webkit-border-radius: 0 0 5px 5px;
                -moz-border-radius: 0 0 5px 5px;
                border-radius: 0 0 5px 5px;
              }
            }

            &:before {
              content:"";
              top: -20px;
              position: absolute;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              transform: translateX(-50%);
              width:0;
              height: 0;
              border-width: 10px;
              border-style: solid;
              border-color: transparent transparent #6b6b6b transparent;
            }
        }

        &:hover > ul,
        &.active > ul {
            display: block;
        }
    }
}
