@import 'settings';

body {
    margin: 0;
    padding: 0;
    font-size: 1.55em;
    color: #616263;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
	  -moz-osx-font-smoothing: grayscale;
}

.btn.btn-default,
.inpSubmit {
  background: #667373;
  color: #fff;
  font-weight: normal;
  text-shadow: none;
  border: 1px solid darken(#667373, 10%);
  padding: 0 20px;
  line-height: 32px;
  height: 32px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: top;


  &:hover {
    background: $color-primary;
    border: 1px solid darken($color-primary, 20%);
  }
  &:active:hover {
    background: darken($color-primary, 10%);
    color: white;
  }

  &.btn-red{
    background: $color-red;
    border: 1px solid darken($color-red, 5%);

    &:hover {
      background: darken($color-red, 5%);
      border: 1px solid darken($color-red, 10%);
      color: white;
    }
    &:active:hover {
      background: darken($color-red, 10%);
      color: white;
    }
  }
  &.btn-green{
    background: $color-green;
    border: 1px solid darken($color-green, 5%);

    &:hover {
      background: darken($color-green, 5%);
      border: 1px solid darken($color-green, 10%);
      color: white;
    }
    &:active:hover {
      background: darken($color-green, 10%);
      color: white;
    }
  }
  &.btn-blue{
    background: $color-primary;
    border: 1px solid darken($color-primary, 5%);

    &:hover {
      background: darken($color-primary, 5%);
      border: 1px solid darken($color-primary, 10%);
      color: white;
    }
    &:active:hover {
      background: darken($color-primary, 10%);
      color: white;
    }
  }
  &.btn-red{
    background: $color-red;
    border: 1px solid darken($color-red, 5%);

    &:hover {
      background: darken($color-red, 5%);
      border: 1px solid darken($color-red, 10%);
      color: white;
    }
    &:active:hover {
      background: darken($color-red, 10%);
      color: white;
    }
  }
}

.btn{
  &.btn-sm{
    height: auto;
    max-height: initial;
    line-height: 2;
    padding: 2px 8px;
  }
}

a:link, a:visited {
  color: $color-primary;
  text-decoration: none;
}
a:hover {
  color: darken($color-primary, 10%);
}
.wrapper {
    width:100%;
    margin: 0 auto;
}

#blockDiv {
    display: none;
}

input[type=text],
input[type=password],
input[type=number],
select{
  border: 1px solid #cccfd1 !important;
  color: $color-grey;
  padding: 0 15px;
  line-height: 34px;
  font-size: 1.2em;
  height: 34px;
  max-height: 34px;
}

#cartitemsnum{
  position: absolute;
  background: $color-red;
  color: white;
  line-height: 24px;
  width: 24px;
  text-align: center;
  font-size: 13px;
  right: -7px;
  bottom: -7px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  z-index: 1000;
}

.header {
    background: $color-primary;
    padding: 1px 0;
    .a-list{
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            color: white;
            display: inline-block;
            *display: inline;
            zoom: 1;
            border-left: 1px solid lighten($color-primary, 25%);
            padding: 0 14px;
            font-size: 0.85em;
            height: 34px;
            line-height: 34px;
            vertical-align: middle;

            a {
                color: white;
                text-decoration: none;
                display: block;
                height: 34px;
                line-height: 34px;

                .fa-stack{
                  font-size: 8px;
                  vertical-align: top;
                }
                i[class*=fa-info] {
                  font-size: 8px !important;
                }
              i{
                line-height: 34px;
              }
            }

          &.user-block{
            background: $color-grey;
            border-left: 1px solid lighten($color-grey, 10%);
            color: white;
          }
          &.cart-block{
            background: darken($color-primary, 10%);
            border-left: 1px solid lighten($color-primary, 10%);
          }
        }
    }
}
.top-main-header{
  border-bottom: 5px solid #dee5eb;
  .contact-info{
    position: relative;
    text-align: right;
    line-height: 1;
    margin-top: 12px;
    .res-ico {
      position: absolute;
      left: 0;
      bottom: 0;
      &.res-ico-envelope{
        z-index: 10;
        left: -42px;
        i {
          color: $color-primary;
          font-size: 32px;
        }
      }
      &.res-ico-phone {
        left: -20px;
        bottom: 16px;
        background: #111111;
        padding: 0 5px;
        z-index: 20;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 0 2px #fff;
        -moz-box-shadow: 0 0 0 2px #fff;
        box-shadow: 0 0 0 2px #fff;
        i {
          line-height: 22px;
          color: white;
          font-size: 14px;
        }

        &:after {
          content: "";
          position: absolute;
          pointer-events: none;
          width: 0;
          height: 0;
          bottom: -16px;
          right: -5px;
          border-style: solid;
          border-width: 10px 5px;
          border-color: #111111 transparent transparent transparent;
          -moz-transform: rotate(-25deg);
          -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
        }
      }
    }
    .phone {
      color: black;
      font-size: 1.5em;
    }
    .email {
      a:link, a:visited {
        font-size: 0.9em;
        color: $color-primary;
      }
    }
  }
}
.logo-row {
  padding: 35px 0;
  border-bottom: 1px solid #e5e8eb;
}
.page-holder{
    width: $page-width;
    margin: 0 auto;
}

.mac{
  margin: 0 auto;
}

#content {

}

.domain-searcher{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;

  form {
    .form-wrapper {
      display: inline-block;
      *display: inline;
      zoom: 1;
      padding: 5px;
      vertical-align: middle;

      &.search-list{
        width: 15%;
      }
      &.search-button{
        width: 20%;
      }
      &.search-input{
        width: 65%;
      }

      input[type=text]{
        color: $color-red;
      }

      input, button{
        height: 50px;
        max-height: 50px;
        line-height: 50px;
        width: 100%;
        border: 1px solid #cccfd1;
        color:#c1c1c1;
        padding: 0 15px;
        font-size: 1.1em;
      }

      button[type=submit]{
        background: $color-green;
        color: white;
        font-weight: bold;
        text-transform: uppercase;

        i{
          margin-right: 10px;
        }
      }
    }

  }

  .domain-links{
    display: flex;
    margin: 15px 0;
    justify-content: center;

    .link-wrapper{
      padding: 0 5px;
      flex-basis: 25%;

      a{
        display: block;
        background: #cccfd1;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 0.95em;
        line-height: 1;
        padding: 10px 0;
        text-transform: uppercase;

        &:hover {
          background: #878787;
        }
      }
    }
  }
}

.adv-block-container{
  position: relative;
  background-color: #e6f0fa;
  background-image: url('../images/adv-block-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;

  .adv-wrapper{
    padding: 40px 0 60px 0;

    .overlay {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 56px;
      pointer-events: none;
      background-image: url('../images/cloud-bottom.svg');
      background-repeat: repeat-x;;
      background-size: contain;
      background-position: bottom center;
    }

    .cont-feat{
      padding: 50px 0 20px 0;

      .image{
        position: relative;
        width: 80%;
        margin: 0 auto;

        .texts{
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;

          .title {
            position: absolute;
            font-size: 1.25em;
            left: 5px;
            top: -40px;
            color: desaturate($color-red, 15);
          }

          .list {
            border-left: 1px solid #cccfd1;
            position: absolute;
            top: -25px;
            left: 230px;

            ul, li {
              list-style: none;
              margin: 0;
              padding: 0;
            }

            ul {
              margin-top: -25px;
              li {
                color: #878787;
                span.f {
                  color: #5a5a5a;
                  font-weight: bold;
                }

                line-height: 50px;

                &.cpu,
                &.ram,
                &.hdd,
                &.cpu {
                  position: relative;
                  padding-left: 35px;

                  &:before {
                    position: absolute;
                    content:"";
                    width: 30px;
                    top: 25px;
                    left: 0;
                    height: 1px;
                    background: #cccfd1;
                  }
                }

                &.ram{
                  padding-left: 15px;
                  &:before {
                    width: 10px;
                  }
                }
                &.hdd{
                  padding-left: 65px;
                  &:before {
                    width: 60px;
                  }
                }

                &.ip{
                  position: absolute;
                  left: -5px;
                }
              }
            }
          }
        }

        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .cont-text{
      padding: 25px;

      h1, h2 {
        margin: 5px 0;
        font-weight: bold;
        color: #424242
      }

      h1 {
        font-size: 3em;
        text-transform: uppercase;
      }

      h2 {
        font-size: 2em;
        letter-spacing: -1px;
      }

      .description {
        font-size: 1.15em;
        color: #5c5c5c;
        line-height: 1.2;

      }

      .offer {
        color: $color-primary;
        margin-top: 20px;
        font-size: 1.4em;
        line-height: 1.2;

        .price {
          font-weight: bold;
          font-size: 3em;
        }
      }
    }

    & > div.row > div[class*=col-sm-6]:first-child{
      border-right: 1px solid #cccfd1;
    }
  }
}

.service-block-container{
  background-color: white;
  background-image: url('../images/global-map-overlay-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  border: 1px solid #e5e8eb;
  border-left: none;
  border-right: none;
  overflow: hidden;
  padding: 75px 0;

  .services {
    display: flex;
    margin: 0 -25px;

    & > .service-wrapper { 
      flex-basis: 25%;
      padding: 25px;

      .box {
        position: relative;
        padding: 15px;
        padding-top: 35px;
        border: 1px solid #e1e1e1;
        background: rgba(255, 255, 255, 0.52);
        width: 100%;
        text-align: center;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        .price-holder{
          position: absolute;
          left: 0;
          right: 0;
          top: -40px;
          background: #667373;
          color: white;
          text-align: center;
          font-weight: bold;
          margin: 0 auto;
          font-size: 1.2em;
          width: 80px;
          height: 80px;
          -webkit-border-radius: 80px;
          -moz-border-radius: 80px;
          border-radius: 80px;

          .price {
            padding: 22px 0;
            line-height: 1.2;

            .cycle {
              font-size: 0.85em;
            }
          }
        }

        .title {
          h2{
            color: #667373;
            font-weight: bold;
            font-size: 1.3em;
          }
        }
        .features {
          margin: 0 10px;
          font-size: 0.9em;

          .feature {
            margin: 5px 0;

            img.ico {
              float: left;
              margin-right: 10px;
            }

            .text {
              font-size: 0.9em;
              line-height: 20px;
              text-align: left;
              color: #878787;
            }
          }
        }
        .action {
          margin: 0 10px;
          margin-top: 20px;

          a, a:link, a:visited {
            background: #667373;
            display: block;
            padding: 12px;
            line-height: 1;
            font-size: 0.8em;
            text-align: center;
            color: white;
          }
        }

        &.style-blue {
          .price-holder {
            background: $color-primary;
          }
          .action a {
            background: $color-primary;
          }
        }
        &.style-red {
          .price-holder {
            background: $color-red;
          }
          .action a {
            background: $color-red;
          }
        }
        &.style-green {
          .price-holder {
            background: $color-green;
          }
          .action a {
            background: $color-green;
          }
        }
      }
    }
  }
}
.red {
  color: $color-red;
}
.green {
  color: $color-green;
}
.orange {
  color: orange;
}
.blue{
  color: darken($color-primary, 10%);
}
.ac {
  text-align: center;
}
.ar{
  text-align: right;
}
.al {
  text-align: left;
}
.alc {
  margin:0 auto;
}
.vlt{
  vertical-align: top;
}
.vlm{
  vertical-align: middle;
}
.vlb{
  vertical-align: bottom;
}
.alert{
  background: #fff1ef;
  border: 1px dashed $color-red;
  color: $color-red;
}
.inp-btn-wlabel{
  margin-top: 27px;
}
.abcfilter{
  border: 1px solid #d7d7d7;
  border-left: none;
  border-right: none;
  margin: 10px 0;
  padding: 5px;
  text-align: center;

  a{
    padding: 2px 4px;
    line-height: 1;
    margin: 2px;
    color: #888888;
    font-size: 0.9em;
    &.on,
    &:hover{
      background: $color-primary;
      color: white;
    }
  }
}
table.data {
  & > tbody{
    & > tr > td {
      padding: 5px 0;
      border-bottom: 1px solid #d7d7d7;

      &.boxtitle{
        font-size: 0.85em;
        color: #545454;
        font-weight: bold;
        padding: 10px 0;
        text-transform: uppercase;

        a{
          color: #545454;
          border-bottom: 1px dotted #888888;
        }
      }
    }
  }

  td.btn-line{
    background: #efefef;
  }
}
.paging{
  text-align: center;
  ul#paging{
    margin: 0 auto;
    padding: 0;

    li{
      display: inline-block;
      *display: inline;
      zoom: 1;
      padding: 5px 10px;
      font-size: 0.8em;
      color: #5c5c5c;
      background: #e9e9e9;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;

      a {
        display: block;
      }
      &:hover{
        background: $color-primary;

        a{
          color: white;
        }
      }
      &.previous-off,
      &.next-off{
        color: #bbbbbb;
        background: #f8f8f8;
      }
    }
  }
}
.labels-title {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0;
}

table.labels {
  font-size: 0.9em;
  border: 1px solid #e4e4e4;
  border-left: none;
  border-right: none;

  td{
    padding: 10px;
  }
}
#domainPrices{
  width: 100%;

  td{
    border: 1px solid #e6e6e6;
    padding: 10px;
  }

  tr:nth-child(even){
    background: #fafafa;
  }
}

th.head{
  position: relative;
  color: black;
  padding: 15px 0;
  cursor: ns-resize;

  &.sortedDESC:after,
  &.sortedASC:after  {
    color: #999999;
    position: absolute;
    right: 5px;
    font-family: 'FontAwesome';
  }
  &.sortedDESC:after {
    content: "\f0d7";
  }
  &.sortedASC:after {
    content: "\f0d8";
  }
}

.cart-container{
  table {
    td {
      padding: 10px;
      background: #f5f5f5;
      border-bottom: 1px solid #eaeaea;
      border-top: 1px solid #ffffff;
    }

    td:first-child{
      text-align: center;
      width: 5%;
    }

    tr.row1_0{
      td{
        background: #f5f5f5;

      }
    }
    tr.row1_0 + tr.row1_0 {
      td {
        font-size: 0.9em;
        background: #ffffff;
      }
      td:first-child{
        background: #f5f5f5;
      }
      td:nth-child(2){
        border-left: 5px solid #eaeaea;
        padding-left: 15px;
      }
    }
    tr.row1_1{
      td{

      }
    }
  }

  .refresh-cart{
    border-top: 2px dashed #d3d3d3;
    font-size: 0.85em;
    padding: 10px 0 0 0;
    background: transparent;
    line-height: 30px;
    border-bottom: none;
    padding: 10px;
  }

  .remove-cart{
    color: black;
  }
}

.cart-coupon-container,
.cart-summary-container{
  background: #f8f8f8;
  padding: 15px;

  h3{
    margin: 0 0 10px 0;
  }

  .code {
    margin-top: 10px;

    input[type=text] {
      margin-bottom: 10px;
    }
  }
}

.cart-summary-container{
  background: transparent;

  h3{
    text-align: right;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td {
    padding: 5px;
  }

  a.submitCart{
    background: $color-green;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding:10px;
  }
}

table.form-button-row{
  input[type=button],
  input[type=submit]{
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
}

fieldset{
  legend{
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0;
    height: auto;
  }
}

.divblock{
  display:block;
}

table {
  margin: 0 auto;

  &.width-100,
  &#doc{
    width: 100%;
  }
}

table.transcheck{
  td {
    padding: 10px 0px;
  }
}

#checkpage {
  table {
    td {
      padding: 10px 0;
    }
  }

  .domain-check-form{
    text-align: center;
    margin-bottom: 50px;

    .inpSubmit{
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 0px 15px;
      line-height: 1.8;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}

.error_f{
  color: red;
  padding:8px 0;
  font-size: 0.8em;
}

.success{
  background: $color-green;
  color: white;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em;

  &:before{
    content: "\f058";
  }
}

.warning{
  background: #f7d843;
  color: #a99534;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em;

  &:before{
    content: "\f05a";
  }
}
.error{
  background: $color-red;
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em;
  &:before{
    content: "\f06a";
  }
}
.info{
  background: lighten($color-primary, 10%);
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em;
  &:before{
    content: "\f05a";
  }
}

.success,
.warning,
.error,
.info{
  position: relative;
  padding-left: 45px;
  line-height: 24px;

  a:link, a:visited{
    color: white;
    text-decoration: underline;
  }

  &:before{
    font-family: "FontAwesome";
    position: absolute;
    line-height: 24px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
}

.tip-wrap{
  background: $color-grey;
  color: darken(white, 10%);
  font-size: 0.9em;
  padding: 5px 8px;
  line-height: 1.4;

  .tip-title{
    color: white;
    font-size: 1.2em;
    font-weight: bold;
  }
}

table#mainData {
  width: $page-width;
  margin: 0 auto;

  td#tablehead{
    padding: 25px 0;
    font-size: 1.4em;
    font-weight: bold;
    color: #444444;

    h1 {
      font-size: 1.8em;
      margin: 0;
      font-weight: bold;
      color: #444444;
      line-height: 1.2;
    }
  }

  td#mainTD {
    padding-top: 20px;
  }
}

#cart{
  .cart-msg{
    font-size: 15px;
  }
  table#mainData{
    td#tablehead{
      padding: 25px 0 0 0;
      .subcartmsg{
        font-size: 14px;
        font-weight: normal;
      }
    }
    td#mainTD{
      padding: 0;

      fieldset{
        legend{
          background: $color-grey;
          color: white;
        }
      }
    }
  }
}

a.action-btn{
  background: #b1b1b1;
  padding: 4px 10px;
  color: white;
  margin: 0 4px 4px 0;
  font-size: 0.9em;
  text-decoration: none;
  letter-spacing: -1px;

  i{
    margin-left: 4px;
  }

  &:hover {
    background: $color-green;
  }
}

a.action-box{
  background: #e0e0e0;
  padding: 4px 10px;
  color: black;
  font-size: 0.9em;
  text-decoration: none;
  letter-spacing: -1px;

  &:hover {
    background: $color-primary;
    color: white;
  }
}
table.totalRecords{
  background: #f2f2f2;
  border: 1px solid #eaeaea;

  td{
    padding: 8px;
    color: black;
    font-weight: bold;
  }

  tr td:first-child{
    padding-left: 16px;
  }
}
.reqfieldsnote {
    color: #f37f6d;
    text-align: center;
    padding: 15px;
    font-size: 0.8em;
}
table#mainData.account-page {
  fieldset{
    position: relative;
    legend{
      background: darken($color-grey, 18%);
      color: white;
      padding: 10px 0;
      margin: 0 0 25px 0;
      border: none;
    }
    margin: 0 0 25px 0;
  }

  .account-page-holder {
    .sidemenu,
    .account-contant-container{
      display: inline-block;
      *display: inline;
      zoom: 1;
      margin: 0 -2px;
      vertical-align: top;
    }

    .sidemenu{
      width: 25%;
      padding-right: 20px;
    }

    .account-contant-container{
      width: 75%;
    }
  }

  .topup{
    background: #eaeaea;
    padding: 10px;
    border: 1px solid #d7d7d7;
    margin-top: 25px;

    input[type=text]{
      margin: 0 5px;
    }
    input[type=submit]{
      margin: 0 0 0 10px;
    }
  }

  .domain-search-welcome{
    position: absolute;
    right: 0;
    bottom: -35px;
  }

  .yourstats{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: $color-primary;
    color: white;
    padding: 10px;
  }
  .stat-head-title{
    background: #f0f0f0;
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 0.85em;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    position: relative;

    &:after{
      content:"";
      position: absolute;
      bottom: -20px;
      border-width: 10px;
      border-style: solid;
      border-color: #f0f0f0 transparent transparent transparent;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .user-stat-holder{
    padding: 0 15px 15px 15px;
    .rhead{
      color: black;
    }
    .rvar{
      text-align: right;
      font-weight: bold;
      font-size:1.1em;
    }

    .row > div {
      padding-bottom: 5px;
    }

    hr {
      margin: 5px 0;
      height: 2px;
      background: #e6e6e6;
    }
  }

  #userStatsLeft{
    background: #f2f2f2;

    .stat-head-title{
      background: #e4e4e4;
      &:after{
        border-color: #e4e4e4 transparent transparent transparent;
      }
    }
  }

  #userPanel{
    padding: 15px;
    background: #fafafa;
    border: 1px solid #f1f1f1;
    position: relative;
    margin-top: 50px;

    ul.tab-menu{
      position: absolute;
      top: -53px;
      left: -1px;
      margin: 0;
      padding: 0;

      li{
        border:1px solid #f1f1f1;
        border-bottom: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: bottom;
        margin-right: 5px;

        a{
          background: #eaeaea;
          padding: 10px 15px;
          display: block;
          color: #888888;
        }
        &.tab-selected{
          a{
            background: #fafafa;
            padding: 15px;
            color: black;
          }
        }
      }
    }
  }

  table.inputform {
    tr td {
      padding: 10px;
    }
    tr:first-child td {
      line-height: 40px;
    }
  }
}

.domain-manager-page{
  .domain-managed-item{
    margin-bottom: 10px;
    background: #fafafa;
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #d7d7d7;

    .domain-name{
      text-align: left;
      line-height: 24px;

      strong{
        color: $color-primary;
      }

      .action-btn{
        font-size: 0.8em;
        margin-left: 5px;
        background: lighten(desaturate($color-red, 5), 18%);
        border-radius: 20px;
      }
    }
    .expire-date{
      text-align: right;
      font-size: 0.8em;
      color: #8c8c8c;
      line-height: 24px
    }
  }
  td#tablehead{
    padding: 25px 0 0 0 !important;
  }
}

#uvmenu{
  padding-right: 15px;

  &.simple-menu{
    ul{
      border: 1px solid #d7d7d7;
      list-style:none;
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;

        &.head{
          background: #eaeaea;
          color: black;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 1em;
          padding: 10px;
          position: relative;
        }

        a{
          font-size: 0.9em;
          padding: 10px;
          display: block;
          color: #8a8a8a;

          &:hover{
            color: #444444;
          }
        }
      }
    }
  }

  .CollapsiblePanel{
    border: 1px solid #d7d7d7;
    .CollapsiblePanelTab{
      background: #eaeaea;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1em;
      padding: 10px;
      cursor: pointer;
      position: relative;

      &:after {
        position: absolute;
        right: 10px;
        content:"\f0d7";
        font-family: 'FontAwesome';
      }
    }
    &.CollapsiblePanelClosed{
      .CollapsiblePanelTab:after{
        content:"\f0d9";
      }
    }
    .CollapsiblePanelContent{
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          a{
            font-size: 0.9em;
            padding: 10px;
            display: block;
            color: #8a8a8a;

            &:hover{
              color: #444444;
            }

            &[href*='LogOut']{
              position: relative;
              color: lighten(desaturate($color-red, 10), 10%);
              &:after {
                content: "\f08b";
                font-family: 'FontAwesome';
                position: absolute;
                right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

table.pkgtable{
  width: 100%;
  border: 1px solid $color-grey;
  td{
    padding: 12px;
  }
  td.pkgtabletitle{
    background: $color-grey;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  td.descr{
    background: #f6f6f6;
    border-right: 1px solid #dadada;
    width: 75%;
    color: #676767;

    font[color=red]{
      font-size: 0.85em;
      font-style: italic;
    }

    ul {
      padding-left: 35px !important;
      li{
        margin-left: 0 !important;
        list-style: none !important;
        position: relative;
        line-height: 1;
        padding: 6px 0;
        font-size: 1.1em;
        color: #333333;

        &:before{
          content: "\f058";
          font-family: 'FontAwesome';
          position: absolute;
          left: -25px;
          color: $color-green;
        }
      }
    }
  }
  td.order {
    padding: 0;
    vertical-align: bottom;

    .outofstock{
      background: lighten($color-red, 10%);
      color: white !important;
      font-size: 0.85em;
      padding: 5px;

      .red {
        color:white !important;
      }
    }
  }

  table {
    width: 100%;
  }
}

table.price {
  td.term{
    font-size: 0.9em;
    color: black;
  }
  td.price {
    text-align: center;
    font-weight: bold;
    background: $color-primary;
    color: white;
  }

  td{
    border-bottom: 1px dashed #d7d7d7;
  }

  tr:first-child td{
    border-top: 1px dashed #d7d7d7;
  }

  tr:last-child td{
    border-bottom: none;
  }
}

#login {
  padding: 25px;
  background: #f1f1f1;

  #mainData{
    margin-bottom: 25px;
  }

  .login_credentials{
    h1{
      margin: 10px 0 15px 0;
      line-height: 1;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
    }
    table {
      td {
        padding: 4px 0;
      }
    }
  }

  .register-title{
    color: $color-grey;
    margin: 10px 0 15px 0;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
  }

  .login-register-info{
    position: relative;
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 13px 20px;
    font-size: 0.8em;
    margin-top: 30px;

    .underline{
      margin-bottom: 10px;
      color: #333;
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 0 0 5px;
    }

    .whyregister{
      padding: 0;
      margin: 0 0 0 18px;
      line-height: 1.6;
    }

    .newaccount{
      margin-top: 10px;
      text-align: left;
    }

    &:before {
      position: absolute;
      content:"";
      left: 50%;
      top: -40px;
      border-style: solid;
      border-width: 20px;
      border-color: transparent transparent #ffffff transparent;
      transform: translateX(-50%);
    }
  }
}

table.formtable{
  td {
    padding: 10px;
  }
  tr td:first-child{
    line-height: 1.3;
    padding-top: 12px;
  }
  tr td:last-child{
    font-size: 0.9em;
  }
}

input.disabledInput{
  border: 1px dashed #dddddd;
}

#createacct{

  .ccaHeader{
    text-align: center;
    padding: 8px 0;
    background: $color-grey;
    font-weight: bold;
    text-transform: uppercase;
    color: white !important;
    margin: 10px 0;
  }
}

.morespace {
  margin: 12px 0;
}

table.data.alc{
  td.boxtitle {
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
  }

  td select {
    border: 1px solid #d7d7d7;
  }
}

a.inplink{
  display: block;
  background: $color-green;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  color:white;

  &:hover {
    background: darken($color-green, 10%);
  }
}

.underline{
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 5px solid #e8e8e8;
}

.bold{
  font-weight: bold;
}


.tlds{
  table{
    tr {
      td{
        border-bottom: 1px solid #d3d3d3;
        padding: 5px 0;

        p{
          margin: 0;
        }
      }
    }
  }
}

h2.hsignup{
  margin: 0 0 20px 0;
}

.unchecked, .checked {
  position: relative;
  padding-left: 25px;
  line-height: 20px;
  cursor: pointer;

  &:before {
    content:"";
    position: absolute;
    left: 0;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    width: 20px;
    height: 20px;
    top: 0;
    /*-webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    */
  }
}

.server-details{
  .details-important,
  .details-features{
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 -2px;
    vertical-align: top;
  }
  .details-important{
    width: 35%;
    padding: 0 10px;
    border-right: 1px solid #d7d7d7;

    .image {
      text-align: center;
      height: 100px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #d7d7d7;
      img{
        margin: 0 auto;
        height: 100%;
      }
    }

    .msg{
      position: relative;
      font-size:0.8em;
      padding-left: 30px;
      font-style: italic;
      color: lighten($color-red, 15%);

      &:before {
        color: lighten($color-red, 15%);
        font-style: normal;
        content: "\f06a";
        font-family: 'FontAwesome';
        position: absolute;
        left: 3px;
        top: 0;
        font-size: 20px;
      }
    }
    .gift{
      position: relative;
      font-size:0.8em;
      padding-left: 30px;
      font-weight: bold;
      margin-top: 15px;
      color: darken($color-green, 10%);

      &:before {
        content: "\f06b";
        font-family: 'FontAwesome';
        position: absolute;
        left: 3px;
        top: 0;
        color: darken($color-green, 10%);
        font-size: 20px;
      }
    }
  }
  .details-features{
    width: 65%;
    padding-left: 10px;

    .feat-var{
      font-weight: bold;
      color: black;
    }
  }
  table.server-features{
    td {
      font-size: 1.1em;
      padding: 10px 0;
    }
  }
}

#contact{
  table.contactform{
    margin-top: 25px;
    td{
      padding: 10px;
    }

    tr td:first-child{
      line-height: 40px;
    }
  }
}

.checked{
  &:before {
    content:"\f00c";
    line-height: 20px;
    text-align: center;
    font-family: 'FontAwesome';
    color: white;
    background: $color-primary;
    border: 1px solid darken($color-primary, 10%);
  }
}

.ticket-counts{
  & > .row {
    border-bottom: 1px solid #c3c3c3;
  }
  .row {
    margin: 0 !important;
  }
  .row > div {
    padding: 0 !important;
  }

  .ticket-head,
  .ticket-count{
    line-height: 50px;
    padding: 0;
  }

  .ticket-head{
    background: #f1f1f1;
    text-transform: uppercase;
    padding: 0 15px;
  }
  .ticket-count{
    background: #a7a7a7;
    font-weight: bold;
    text-align: center;

    a{
      position: relative;
      display: block;
      font-size: 1.2em;
      color: white;

      &:before {
        position: absolute;
        left: -20px;
        top: 50%;
        content:"";
        border-style: solid;
        border-width: 10px;
        border-color: transparent #a7a7a7 transparent transparent;
        transform: translateY(-50%);
      }
    }
  }

  .ticket-waiting{
    .ticket-head{
      background: desaturate($color-orange, 15);
      color: white;
    }
    .ticket-count{
      a{
        background: darken($color-orange, 5%);
        color: white;

        &:before {
          border-color: transparent darken($color-orange, 5%) transparent transparent;
        }
        &:hover{
          background: darken($color-orange, 10%);
          &:before {
            border-color: transparent darken($color-orange, 10%) transparent transparent;
          }
        }
      }
    }
  }

  .ticket-new{
    a {
      background: $color-primary;
      color:white;
      text-decoration: none;
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      display: block;
      padding: 0 10px;
      line-height: 50px;

      &:hover {
        background: darken($color-primary, 10%);
      }
    }
  }
}

.payment-page{
  table.cart-table{
    tr:first-child{
      td{
        background: #fafafa;
        padding: 10px;
        font-weight: bold;
        color: black;
      }
    }

    td {
      padding: 10px;
    }
  }
}

#helpdesk{
  fieldset{
    margin: 15px 0 !important;
    legend{
      margin: 0 !important;
    }
  }

  td.boxtitle {
    color: black;
    padding: 10px 0;
    font-size: 1.2em;
  }

  .ticket-origin-msg{
    font-weight: bold;
    font-size: 1.2em;
    background: #fafafa;
    color: black;
    padding: 15px;
    border: 2px solid #3b4242;
  }

  .ticket-resp-table{
    td{
      border:none;
    }

    tr.row1_1 td{
      background: #f8f8f8;
      padding: 15px;
      color: #909090;
      font-size: 0.95em;
    }
    tr.row1_0 td{
      background: #eaeaea;
      padding: 15px;
      color: #353535;
      font-size: 1.05em;
    }
  }
}

#watermarklogo{
  position: fixed !important;
  top: 0;
  right: 0;
  z-index: 999999999;
}

.unselected, .selected {
  position: relative;
  padding-left: 20px;

  &:before{
    content:"";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    color: #acacac;
  }
}

.unselected{
  cursor: pointer;
}

.unselected:hover{
  &:before{
    color: #444444;
  }
}
.unselected:before{
  content: "\f1db";
}
.selected:before{
  content: "\f05d";
  color: $color-primary;
}

.support-page{
  .img{
    width: 20%;
    padding: 0 20px 20px 0;
    float: left;

    img{
      width: 100%;
    }
  }
  .textblock{
    float:left;
  }
  .support-desc{
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
  }
  .support-footer{
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
    border-top: 1px solid #d7d7d7;
  }
}

.info-blocks{
  margin: 25px 0 0 0;
  .item{
    .item-wrapper{
      border: 1px solid #e5e8eb;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 10px;

      .image{
        position: relative;
        height: 200px;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .price{
        position: absolute;
        top: 60px;
        background: #667373;
        color: white;
        text-align: center;
        font-weight: bold;
        margin: 0 auto;
        font-size: 1em;
        width: 100px;
        height: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        border: 2px solid #ffffff;
        -webkit-box-shadow: 2px 2px 14px -5px #000000;
        -moz-box-shadow: 2px 2px 14px -5px #000000;
        box-shadow: 2px 2px 14px -5px #000000;

        .p {
          font-size: 1.6em;
          font-weight: bold;
          padding-top: 25px;
          line-height: 1.2;
        }

        &.to-left{
          left: 10px;
          right: auto;
        }
        &.to-right{
          right: 10px;
          left: auto;
        }

        &.price-green{
          background: $color-green;
        }
        &.price-red{
          background: $color-red;
        }
      }

      h2{
        margin: 0;
        font-weight: bold;
        color: #53605F;
      }

      .desc{
        font-size: 0.8em;
        color: lighten($color-grey, 5%);
        text-align: justify;
        .i{
          font-weight: bold;
          margin-bottom: 5px;
          color: darken($color-grey, 5%);
        }
      }

      .button{
        margin-top: 10px;
        a {
          float: right;
          background: $color-red;
          color: white;
          text-transform: uppercase;
          font-size: 1.1em;
          line-height: 1.8;
          padding: 0 15px;
          border-radius: 5px;

          &:hover{
            background: darken($color-red, 10%);
          }
        }
      }
    }
  }
}

ol.square{
  margin: 10px 0;
  padding: 0 0 0 20px;

  li{
    background: #dee5eb;
    margin: 5px 0;
    padding: 8px;
    color: #7e8b96;
  }
}

.hosting-upgrade-page{
  table{
    td {
      padding: 10px;
    }
  }
}

.togglerHolder{
  .toggler {
    position: relative;
    margin: 5px 0;
    background: #fafafa;
    border: 2px solid #f2f2f2;
    padding: 10px 10px 10px 35px;
    color: black;
    cursor: pointer;

    &:hover {
      background: #e8e8e8;
    }

    &:before{
      left: 10px !important;
    }

    &.selected {
      border: 2px solid $color-green;
      color: darken($color-green, 10%);
      font-weight: bold;

      &:after {
        content:"\f00c";
        font-family:'FontAwesome';
        position: absolute;
        right: 15px;
        color: $color-green;
      }

    }
  }
}
.elementHolder{
  margin: 15px 0;
  padding: 15px;
}

.width-100{
  width: 100%;
}
.width-10{
  width: 10%;
}
.width-15{
  width: 20%;
}
.width-20{
  width: 20%;
}
.width-25{
  width: 25%;
}
.width-30{
  width: 30%;
}
.width-35{
  width: 35%;
}
.width-40{
  width: 40%;
}
.width-45{
  width: 45%;
}
.width-50{
  width: 50%;
}
.width-55{
  width: 55%;
}
.width-60{
  width: 60%;
}
.width-65{
  width: 65%;
}
.width-70{
  width: 70%;
}
.width-75{
  width: 75%;
}
.width-80{
  width: 80%;
}
.width-85{
  width: 85%;
}
.width-90{
  width: 90%;
}

.show-on-mobiles{
  display: none;
}

@import 'footer';
@import 'mobile';
