@import 'settings';

body {
    margin: 0;
    padding: 0;
    font-size: 1.55em;
    color: #616263;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
	  -moz-osx-font-smoothing: grayscale;
}

.btn.btn-default, .inpSubmit {
  background: #667373;
  color: #fff;
  font-weight: normal;
  text-shadow: none;
  border: 1px solid darken(#667373, 10%);
  padding: 0 20px;
  line-height: 40px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;


  &:hover {
    background: $color-primary;
    border: 1px solid darken($color-primary, 20%);
  }
  &:active:hover {
    background: darken($color-primary, 10%);
    color: white;
  }

  &.btn-red{
    background: $color-red;
    border: 1px solid darken($color-red, 5%);

    &:hover {
      background: darken($color-red, 5%);
      border: 1px solid darken($color-red, 10%);
      color: white;
    }
    &:active:hover {
      background: darken($color-red, 10%);
      color: white;
    }
  }
  &.btn-green{
    background: $color-green;
    border: 1px solid darken($color-green, 5%);

    &:hover {
      background: darken($color-green, 5%);
      border: 1px solid darken($color-green, 10%);
      color: white;
    }
    &:active:hover {
      background: darken($color-green, 10%);
      color: white;
    }
  }
  &.btn-blue{
    background: $color-primary;
    border: 1px solid darken($color-primary, 5%);

    &:hover {
      background: darken($color-primary, 5%);
      border: 1px solid darken($color-primary, 10%);
      color: white;
    }
    &:active:hover {
      background: darken($color-primary, 10%);
      color: white;
    }
  }
}

.btn{
  &.btn-sm{
    height: auto;
    max-height: initial;
    line-height: 2;
    padding: 2px 8px;
  }
}

a:link, a:visited {
  color: $color-primary;
  text-decoration: none;
}
a:hover {
  color: darken($color-primary, 10%);
}
.wrapper {
    width:100%;
    margin: 0 auto;
}

#blockDiv {
    display: none;
}

input[type=text],
input[type=password],
input[type=number],
select{
  border: 1px solid #cccfd1;
  color: $color-grey;
  padding: 0 15px;
  line-height: 40px;
  font-size: 1.2em;
  height: 40px;
  max-height: 40px;
}

.header {
    background: $color-primary;
    padding: 1px 0;
    .a-list{
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            color: white;
            display: inline-block;
            *display: inline;
            zoom: 1;
            border-left: 1px solid lighten($color-primary, 25%);
            padding: 8px 14px;
            font-size: 0.85em;

            a {
                color: white;
                text-decoration: none;
                display: block;

                .fa-stack{
                  font-size: 8px;
                }
                i[class*=fa-info] {
                  font-size: 8px !important;
                }
            }
        }
    }
}
.top-main-header{
  border-bottom: 5px solid #dee5eb;
  .contact-info{
    position: relative;
    text-align: right;
    line-height: 1;
    margin-top: 12px;
    .res-ico {
      position: absolute;
      left: 0;
      bottom: 0;
      &.res-ico-envelope{
        z-index: 10;
        left: -42px;
        i {
          color: $color-primary;
          font-size: 32px;
        }
      }
      &.res-ico-phone {
        left: -20px;
        bottom: 16px;
        background: #111111;
        padding: 0 5px;
        z-index: 20;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 0 2px #fff;
        -moz-box-shadow: 0 0 0 2px #fff;
        box-shadow: 0 0 0 2px #fff;
        i {
          line-height: 22px;
          color: white;
          font-size: 14px;
        }

        &:after {
          content: "";
          position: absolute;
          pointer-events: none;
          width: 0;
          height: 0;
          bottom: -16px;
          right: -5px;
          border-style: solid;
          border-width: 10px 5px;
          border-color: #111111 transparent transparent transparent;
          -moz-transform: rotate(-25deg);
          -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
        }
      }
    }
    .phone {
      color: black;
      font-size: 1.5em;
    }
    .email {
      a:link, a:visited {
        font-size: 0.9em;
        color: $color-primary;
      }
    }
  }
}
.logo-row {
  padding: 35px 0;
  border-bottom: 1px solid #e5e8eb;
}
.page-holder{
    width: $page-width;
    margin: 0 auto;
}

#content {

}

.domain-searcher{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;

  form {
    .form-wrapper {
      display: inline-block;
      *display: inline;
      zoom: 1;
      padding: 5px;
      vertical-align: middle;

      &.search-list{
        width: 15%;
      }
      &.search-button{
        width: 20%;
      }
      &.search-input{
        width: 65%;
      }

      input[type=text]{
        color: $color-red;
      }

      input, button{
        height: 50px;
        line-height: 50px;
        width: 100%;
        border: 1px solid #cccfd1;
        color:#c1c1c1;
        padding: 0 15px;
        font-size: 1.2em;
      }

      button[type=submit]{
        background: $color-green;
        color: white;
        font-weight: bold;
        text-transform: uppercase;

        i{
          margin-right: 10px;
        }
      }
    }

  }

  .domain-links{
    display: flex;
    margin: 15px 0;
    justify-content: center;

    .link-wrapper{
      padding: 0 5px;
      flex-basis: 25%;

      a{
        display: block;
        background: #cccfd1;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 0.95em;
        line-height: 1;
        padding: 10px 0;
        text-transform: uppercase;

        &:hover {
          background: #878787;
        }
      }
    }
  }
}

.adv-block-container{
  position: relative;
  background-color: #e6f0fa;
  background-image: url('../images/adv-block-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;

  .adv-wrapper{
    padding: 40px 0 60px 0;

    .overlay {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 56px;
      pointer-events: none;
      background-image: url('../images/cloud-bottom.svg');
      background-repeat: repeat-x;;
      background-size: contain;
      background-position: bottom center;
    }

    .cont-feat{
      padding: 50px 0 20px 0;

      .image{
        position: relative;
        width: 80%;
        margin: 0 auto;

        .texts{
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;

          .title {
            position: absolute;
            font-size: 1.25em;
            left: 5px;
            top: -40px;
            color: desaturate($color-red, 15);
          }

          .list {
            border-left: 1px solid #cccfd1;
            position: absolute;
            top: -25px;
            left: 230px;

            ul, li {
              list-style: none;
              margin: 0;
              padding: 0;
            }

            ul {
              margin-top: -25px;
              li {
                color: #878787;
                span.f {
                  color: #5a5a5a;
                  font-weight: bold;
                }

                line-height: 50px;

                &.cpu,
                &.ram,
                &.hdd,
                &.cpu {
                  position: relative;
                  padding-left: 35px;

                  &:before {
                    position: absolute;
                    content:"";
                    width: 30px;
                    top: 25px;
                    left: 0;
                    height: 1px;
                    background: #cccfd1;
                  }
                }

                &.ram{
                  padding-left: 15px;
                  &:before {
                    width: 10px;
                  }
                }
                &.hdd{
                  padding-left: 65px;
                  &:before {
                    width: 60px;
                  }
                }

                &.ip{
                  position: absolute;
                  left: -5px;
                }
              }
            }
          }
        }

        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .cont-text{
      padding: 25px;

      h1, h2 {
        margin: 5px 0;
        font-weight: bold;
        color: #424242
      }

      h1 {
        font-size: 3em;
        text-transform: uppercase;
      }

      h2 {
        font-size: 2em;
        letter-spacing: -1px;
      }

      .description {
        font-size: 1.15em;
        color: #5c5c5c;
        line-height: 1.2;

      }

      .offer {
        color: $color-primary;
        margin-top: 20px;
        font-size: 1.4em;
        line-height: 1.2;

        .price {
          font-weight: bold;
          font-size: 3em;
        }
      }
    }

    & > div.row > div[class*=col-md-6]:first-child{
      border-right: 1px solid #cccfd1;
    }
  }
}

.service-block-container{
  background-color: white;
  background-image: url('../images/global-map-overlay-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  border: 1px solid #e5e8eb;
  border-left: none;
  border-right: none;
  overflow: hidden;
  padding: 75px 0;

  .services {
    display: flex;
    margin: 0 -25px;

    & > .service-wrapper {
      flex-basis: 25%;
      padding: 25px;

      .box {
        position: relative;
        padding: 15px;
        padding-top: 35px;
        border: 1px solid #e1e1e1;
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        text-align: center;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        .price-holder{
          position: absolute;
          left: 0;
          right: 0;
          top: -40px;
          background: #667373;
          color: white;
          text-align: center;
          font-weight: bold;
          margin: 0 auto;
          font-size: 1.2em;
          width: 80px;
          height: 80px;
          -webkit-border-radius: 80px;
          -moz-border-radius: 80px;
          border-radius: 80px;

          .price {
            padding: 22px 0;
            line-height: 1.2;

            .cycle {
              font-size: 0.85em;
            }
          }
        }

        .title {
          h2{
            color: #667373;
            font-weight: bold;
            font-size: 1.3em;
          }
        }
        .features {
          margin: 0 10px;
          font-size: 0.9em;

          .feature {
            margin: 5px 0;

            img.ico {
              float: left;
              margin-right: 10px;
            }

            .text {
              font-size: 0.9em;
              line-height: 20px;
              text-align: left;
              color: #878787;
            }
          }
        }
        .action {
          margin: 0 10px;
          margin-top: 20px;

          a, a:link, a:visited {
            background: #667373;
            display: block;
            padding: 12px;
            line-height: 1;
            font-size: 0.8em;
            text-align: center;
            color: white;
          }
        }

        &.style-blue {
          .price-holder {
            background: $color-primary;
          }
          .action a {
            background: $color-primary;
          }
        }
        &.style-red {
          .price-holder {
            background: $color-red;
          }
          .action a {
            background: $color-red;
          }
        }
        &.style-green {
          .price-holder {
            background: $color-green;
          }
          .action a {
            background: $color-green;
          }
        }
      }
    }
  }
}
.red {
  color: $color-red;
}
.green {
  color: $color-green;
}
.blue{
  color: darken($color-primary, 10%);
}
.ac {
  text-align: center;
}
.ar{
  text-align: right;
}
.al {
  text-align: left;
}
.alc {
  margin:0 auto;
}
.vlt{
  vertical-align: top;
}
.vlm{
  vertical-align: middle;
}
.vlb{
  vertical-align: bottom;
}

table.data {
  & > tbody{
    & > tr > td {
      padding: 5px 0;
      border-bottom: 1px solid #d7d7d7;
    }
  }

  td.btn-line{
    background: #efefef;
  }
}

.labels-title {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0;
}

table.labels {
  font-size: 0.9em;
  border: 1px solid #e4e4e4;
  border-left: none;
  border-right: none;

  td{
    padding: 10px;
  }
}
#domainPrices{
  width: 100%;

  td{
    border: 1px solid #e6e6e6;
    padding: 10px;
  }

  tr:nth-child(even){
    background: #fafafa;
  }
}

th.head{
  position: relative;
  color: black;
  padding: 15px 0;
  cursor: ns-resize;

  &.sortedDESC:after,
  &.sortedASC:after  {
    color: #999999;
    position: absolute;
    right: 5px;
    font-family: 'FontAwesome';
  }
  &.sortedDESC:after {
    content: "\f0d7";
  }
  &.sortedASC:after {
    content: "\f0d8";
  }
}

.cart-container{
  .refresh-cart{
    border-top: 2px dashed #d3d3d3;
    font-size: 0.85em;
    padding: 10px 0 0 0;
  }

  table {
    td {
      padding: 8px 0;
    }
  }

  .remove-cart{
    color: black;
  }
}

.cart-coupon-container,
.cart-summary-container{
  background: #f8f8f8;
  padding: 15px;

  h3{
    margin: 0 0 10px 0;
  }

  .code {
    margin-top: 10px;

    input[type=text] {
      margin-bottom: 10px;
    }
  }
}

.cart-summary-container{
  background: transparent;

  h3{
    text-align: right;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td {
    padding: 5px;
  }

  a.submitCart{
    background: $color-green;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding:10px;
  }
}

table.form-button-row{
  input[type=button],
  input[type=submit]{
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
}

fieldset{
  legend{
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0;
    height: auto;
  }
}

.divblock{
  display:block;
}

table {
  margin: 0 auto;

  &.width-100,
  &#doc{
    width: 100%;
  }
}

table.transcheck{
  td {
    padding: 10px 0px;
  }
}

#checkpage {
  table {
    td {
      padding: 10px 0;
    }
  }

  .domain-check-form{
    text-align: center;
    margin-bottom: 50px;

    .inpSubmit{
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 0px 15px;
      line-height: 1.8;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}

.error_f{
  color: red;
  padding:8px 0;
  font-size: 0.8em;
}

.success{
  background: $color-green;
  color: white;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em;
}

.warning{
  background: #f7d843;
  color: #a99534;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em;
}
.error{
  background: $color-red;
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em;
}

.tip-wrap{
  background: $color-grey;
  color: darken(white, 10%);
  font-size: 0.9em;
  padding: 5px 8px;
  line-height: 1.4;

  .tip-title{
    color: white;
    font-size: 1.2em;
    font-weight: bold;
  }
}

table#mainData {
  width: $page-width;
  margin: 0 auto;

  td#tablehead{
    padding: 25px 0;

    h1 {
      font-size: 1.8em;
      margin: 0;
      font-weight: bold;
      color: #444444;
      line-height: 1.2;
    }
  }

  td#mainTD {
    padding-top: 20px;
  }
}

table.pkgtable{
  width: 100%;
  border: 1px solid $color-grey;
  td{
    padding: 8px;
  }
  td.pkgtabletitle{
    background: $color-grey;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  td.descr{
    background: #f6f6f6;
    border-right: 1px solid #dadada;
    width: 75%;
    color: #676767;
  }
  td.order {
    padding: 0;
    vertical-align: bottom;
  }

  table {
    width: 100%;
  }
}

table.price {
  td.term{
    font-size: 0.9em;
    color: black;
  }
  td.price {
    text-align: center;
    font-weight: bold;
    background: $color-primary;
    color: white;
  }

  td{
    border-bottom: 1px dashed #d7d7d7;
  }

  tr:first-child td{
    border-top: 1px dashed #d7d7d7;
  }

  tr:last-child td{
    border-bottom: none;
  }
}

#login {
  padding: 25px;
  background: #f1f1f1;

  #mainData{
    margin-bottom: 25px;
  }

  .login_credentials{
    table {
      td {
        padding: 4px 0;
      }
    }
  }

  .register-title{
    color: black;
    font-weight: bold;
  }

  .login-register-info{
    position: relative;
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 13px 20px;
    font-size: 0.8em;

    .underline{
      margin-bottom: 10px;
      color: #333;
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 0 0 5px;
    }

    .whyregister{
      padding: 0;
      margin: 0 0 0 18px;
    }

    .newaccount{
      margin-top: 10px;
      text-align: left;
    }

    &:before {
      position: absolute;
      content:"";
      left: 50%;
      top: -40px;
      border-style: solid;
      border-width: 20px;
      border-color: transparent transparent #ffffff transparent;
      transform: translateX(-50%);
    }
  }
}

table.data.alc{
  td.boxtitle {
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
  }

  td select {
    border: 1px solid #d7d7d7;
  }
}

a.inplink{
  display: block;
  background: $color-green;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  color:white;

  &:hover {
    background: darken($color-green, 10%);
  }
}

.underline{
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 5px solid #e8e8e8;
}

.bold{
  font-weight: bold;
}


.tlds{
  table{
    tr {
      td{
        border-bottom: 1px solid #d3d3d3;
        padding: 5px 0;

        p{
          margin: 0;
        }
      }
    }
  }
}

h2.hsignup{
  margin: 0 0 20px 0;
}

.unchecked, .checked {
  position: relative;
  padding-left: 25px;
  cursor: pointer;

  &:before {
    content:"";
    position: absolute;
    left: 0;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    width: 20px;
    height: 20px;
  }
}

.checked{
  &:before {
    content:"\f00c";
    line-height: 20px;
    text-align: center;
    font-family: 'FontAwesome';
    color: white;
    background: $color-primary;
    border: 1px solid darken($color-primary, 10%);
  }
}

.togglerHolder{
  .toggler {
    position: relative;
    margin: 5px 0;
    background: #fafafa;
    border: 2px solid #f2f2f2;
    padding: 10px;
    color: black;
    cursor: pointer;

    &:hover {
      background: #e8e8e8;
    }

    &.selected {
      border: 2px solid $color-green;
      color: darken($color-green, 10%);
      font-weight: bold;

      &:after {
        content:"\f00c";
        font-family:'FontAwesome';
        position: absolute;
        right: 15px;
        color: $color-green;
      }
    }
  }
}
.elementHolder{
  margin: 15px 0;
  padding: 15px;
}

.width-100{
  width: 100%;
}
.width-10{
  width: 10%;
}
.width-15{
  width: 20%;
}
.width-20{
  width: 20%;
}
.width-25{
  width: 25%;
}
.width-30{
  width: 30%;
}
.width-35{
  width: 35%;
}
.width-40{
  width: 40%;
}
.width-45{
  width: 45%;
}
.width-50{
  width: 50%;
}
.width-55{
  width: 55%;
}
.width-60{
  width: 60%;
}
.width-65{
  width: 65%;
}
.width-70{
  width: 70%;
}
.width-75{
  width: 75%;
}
.width-80{
  width: 80%;
}
.width-85{
  width: 85%;
}
.width-90{
  width: 90%;
}


@import 'footer';
